/* .container{
    background-color: rgb(252, 192, 229);
}
.container-fluid{
    background-color: rgb(165, 227, 255);
}
.container-sm{
    background-color: rgb(214, 170, 255);
}
.container-md{
    background-color: rgb(243, 250, 179);
}
.container-lg{
    background-color: rgb(193, 255, 196);
} */